#login-container {
    width: 400px; /* Фіксована ширина форми */
    margin: 0 auto; /* Центрування по горизонталі */
    background: #fff;
    padding: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Тінь */
    border-radius: 0.5rem; /* Закруглені кути */
}